// Artegra Sans
@font-face {
  font-family: 'Artegra Sans';
  src: url('../fonts/Artegra/ArtegraSansExBold.woff2') format('woff2'),
    url('../fonts/Artegra/ArtegraSansExBold.woff') format('woff'),
    url('../fonts/Artegra/ArtegraSansExBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
