// Текстові класи з Roboto
.text_12 {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  vertical-align: baseline;
}

.text_14 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  vertical-align: baseline;
}

.text_16 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  vertical-align: baseline;
}

.text_18 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #252525;
  line-height: 1.5;
  vertical-align: baseline;
}

.text_20 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  vertical-align: baseline;
}

.text_24 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 1.4;
  vertical-align: baseline;
}

.text_28 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  line-height: 1.4;
  vertical-align: baseline;
}

.text_32 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  line-height: 1.4;
  vertical-align: baseline;
}

.text_36 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  line-height: 1.3;
  vertical-align: baseline;
}

.text_40 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  line-height: 1.3;
  vertical-align: baseline;
}

.text_48 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  line-height: 1.2;
  vertical-align: baseline;
}

// Заголовки з Artegra
.title_18 {
  font-family: 'Artegra Sans', 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  vertical-align: baseline;
}

.title_20 {
  font-family: 'Artegra Sans', 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  vertical-align: baseline;
  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}

.title_24 {
  font-family: 'Artegra Sans', 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  vertical-align: baseline;
  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}

.section-title {
  font-family: 'Artegra Sans', 'Roboto', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 40px;
  &::after {
    content: '';
    width: 30px;
    height: 40px;
    border-bottom: 2px solid var(--yellow);
    border-right: 2px solid var(--yellow);
    position: absolute;
    right: -15px;
    bottom: 0px;
    border-radius: 0 0 14px 0;
  }
  &::before {
    content: '';
    width: 30px;
    height: 40px;
    border-top: 2px solid var(--yellow);
    border-left: 2px solid var(--yellow);
    position: absolute;
    left: -12px;
    top: -8px;
    border-radius: 14px 0 0 0;
  }
  @media screen and (max-width: 768px) {
    font-size: 40px;
  }
}

// Всі заголовки використовують Artegra
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Artegra Sans', 'Roboto', sans-serif;
  line-height: 1.2;
  vertical-align: baseline;
}
